# Lists

In [1]:
# this is the normal way we do ..


city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

In [4]:
# printing variable inside print function

print("Welcome to " + city_1)
print("Welcome to " + city_2)
print("Welcome to " + city_3)

Welcome to Baltimore
Welcome to Chicago
Welcome to Denver

In [12]:
# this is a list
# syntax --->   list = [value(s) separated with comma]

cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

# 6 elements and 5 indexes.... as Atlanta address is cities[0]

cities[0]

'Atlanta'

In [10]:
# Seattle as it is on index number 5

print("Welcome to " + cities[5])

Welcome to Seattle

In [15]:
# We can also save different data types of values inside list
# its good to use plural names

mixed_things = [1, "Bob", "Now is"]
mixed_things[1]

'Bob'