# Lists: Adding and changing elements

In [38]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

# append keyword

In [32]:
# for adding elements we have append keyword


cities.append("New York")           # name of list,,, then . and write append("<something>")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [33]:
# adding number to a list

scores = [32, 66, 77, 98, 35, 65]

scores.append(23)
scores

[32, 66, 77, 98, 35, 65, 23]

In [34]:
# adding list to a new list

longer_list_of_cities = cities + ["Karachi", "Peshawar"]
longer_list_of_cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Karachi',
 'Peshawar']

In [35]:
# creating empty list

todays_tasks = []
todays_tasks

[]

In [36]:
todays_tasks +=  ["Go to school", "Learn Python", "Take class"]
todays_tasks

['Go to school', 'Learn Python', 'Take class']

# insert keyword

In [39]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [40]:
# we can insert any element at any postion

print(cities)
cities.insert(3, "Islamabad")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Islamabad', 'Denver', 'Los Angeles', 'Seattle']

In [43]:
cities.insert(0, "Swabi")      # everytime you run this line ...it'll add Swabi at index 0...

In [44]:
cities

['Swabi',
 'Swabi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Islamabad',
 'Denver',
 'Los Angeles',
 'Seattle']